@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black: #231F10;
    --gray:#6D6E70;
    --white:#fff;
    --dark-blue:#2E4A9B;
    --blue:#2A83C6;
    --lightblue:#3ABFEF;
    --green:#AFD137;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

p{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


/* Header */
.container-fluid{
    padding: 0;
}

.header{
    position: relative;
    width: 100%;
    height: 600px;
    
}

.header::after {
    content: "";
    z-index: -1;
    position: absolute;
    background: linear-gradient(rgba(26, 46, 102, 0.8), rgba(26, 46, 102, 0.8)), url('../assets/images/pdam.jpeg') center no-repeat;
    border-radius: 0px 0px 260.5px 0px;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -100;
    background-image: url("../assets/images/background.svg");
    background-size: cover;
    background-position: bottom;
    transform: translateY(40%);
}

.header img {
    margin-bottom: 3rem;
}
.header h1{
    color: #ffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 48px;
}

.header h2{
    color: #D4FF3C;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 64px;
    padding-bottom: 2rem;
}

.header p{
    color: #ffff;
    font-weight: 300;
    font-size: 22px;
}

.header p::before{
    content: "";
    width: 116px;
    height: 2px;
    display: inline-block;
    background: var(--white);
    margin: 4px 10px;
}
/* Content */

.heading{
    position: relative; 
    display: flex;
    margin-top: 10%;
}

.heading::before{
    content: "";
    background-image: url("../assets/images/background-aplikasi.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.heading .head-kategori .line {
    background-color: var(--dark-blue);
    width: 100px;
    height: 3px;
    display: block;
    align-content: center;
}

.pilihan-kategori{
    position: relative;
    margin-top: 32px;
}

.pilihan-kategori .dropdown .btn{
    display: flex;
    background-color: #284086;
    color: #ffff;
    border: 0;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.pilihan-kategori .search{
    align-items: center;
    background: #FCFCFC;
    border: 1px solid #E7E7E7;
    border-radius: 30px;
    display: flex;
    transition: all 0.5s;
    width: auto;
}

.pilihan-kategori .search input::placeholder{
    color: #adadad;
}


.search button,
.search input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    color: #adadad;
}

.search input{
    width: 700px;
}

.nav .nav-item a{
    color: black;
}

.nav .nav-item a:hover{
    color: #ffffff;
}   

.nav .nav-item{
    border-radius: 30px;
}

.nav-item:hover {
    background-color: var(--dark-blue);
    color: #ffffff;
    transition: .3s ease-in-out;
}

.nav .active{
    border-radius: 30px;
    background-color: var(--dark-blue);
    color: #ffffff;
}

.nav .active a{
    color: #ffffff;
}


/* Daftar Aplikasi */
.aplikasi{
    margin-top: 96px;
}

.aplikasi .navigation{
    margin-bottom: 40px;
}

.aplikasi .navigation a{
    font-size: 20px;
    color: var(--dark-blue);
    word-spacing: 4px;
    text-decoration: none;
}

.aplikasi .col-md-3,
.aplikasi .col-sm-6{
    align-items: center;
    margin-bottom: 56px;
}

.aplikasi .col-md-3,
.aplikasi .col-sm-6 a{
    text-decoration: none;
    color: var(--dark-blue);
}

.aplikasi .box{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    height: 124px;
    /* height: 179px; */
    border-radius: 15px;
    background-color: #ffffff;
    padding: 0 12px;
    margin-bottom: 30px;
    box-shadow: 0 10px 18px rgba(26, 26, 26, 0.055);
    transition: 0.3s;
}


.aplikasi .box:hover{
    height: 179px;
    background-color: var(--dark-blue);
    color: #ffffff;
    box-shadow: 0px 6px 8px rgba(42, 131, 198, 0.32);
    transition: 0.5s;
    cursor: pointer;
}

.aplikasi .box .hexagon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    width: 100px;
    height: 110px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}


.aplikasi .box .hexagon img{
    position: absolute;
    object-fit: cover;
    width: 65px;
}

.aplikasi .box .hexagon-shadow{
    filter: drop-shadow(0px 5px 10px rgba(42, 131, 198, 0.08)); 
}

.box .box-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box .box-content h5{
    padding-top: 77px;
    font-size: 18px;
}

.box .box-content p{
    font-size: 14px;
    margin-top: 22px;
}


/* FOOTER */
footer {
    margin-top: 200px;
    text-align: center;
    color: #2E4A9B;
    font-weight: bolder
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2E4A9B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2E4A9B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators .inactive {
    background-color: gray;
}
.carousel-indicators .active {
    background-color: #2E4A9B
}
/* 

.hex {
    width: max-content;
    margin-bottom: -20px;
    z-index: 2;
}

.box1 {
    width: 0px;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.box2 {
    width: 104px;
    height: 60px;
    background-color: #6C6;
}

.box2 img {
    position: absolute;
    object-fit: cover;
    width: 65px;

}

.box3 {
    width: 0px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
} */

    
