@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black: #231F10;
    --gray:#6D6E70;
    --white:#fff;
    --dark-blue:#2E4A9B;
    --blue:#2A83C6;
    --lightblue:#3ABFEF;
    --green:#AFD137;
}
*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

p{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


/* Header */
.container-fluid{
    padding: 0;
}

.header{
    position: relative;
    width: 100%;
    height: 600px;
    
}

.header::after {
    content: "";
    z-index: -1;
    position: absolute;
    background: linear-gradient(rgba(26, 46, 102, 0.8), rgba(26, 46, 102, 0.8)), url('../assets/images/pdam.jpeg') center no-repeat;
    border-radius: 0px 0px 260.5px 0px;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -100;
    background-image: url("../assets/images/background.svg");
    background-size: cover;
    background-position: bottom;
    transform: translateY(40%);
}

.header img {
    margin-bottom: 3rem;
}
.header h1{
    color: #ffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 48px;
}

.header h2{
    color: #D4FF3C;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 64px;
    padding-bottom: 2rem;
}

.header p{
    color: #ffff;
    font-weight: 300;
    font-size: 22px;
}

.header p::before{
    content: "";
    width: 116px;
    height: 2px;
    display: inline-block;
    background: var(--white);
    margin: 4px 10px;
}
/* Content */

.heading{
    margin-top: 15%;
}
.heading .head-kategori .line {
    background-color: var(--dark-blue);
    width: 100px;
    height: 2px;
    display: block;
    align-content: center;
}

.pilihan-kategori{
    position: relative;
    margin-top: 32px;
}

.pilihan-kategori .dropdown .btn{
    display: flex;
    background-color: #284086;
    color: #ffff;
    border: 0;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.pilihan-kategori .search{
    align-items: center;
    background: #FCFCFC;
    border: 1px solid #E7E7E7;
    border-radius: 30px;
    display: flex;
    transition: all 0.5s;
    width: auto;
}

.pilihan-kategori .search input::placeholder{
    color: #adadad;
}


.search button,
.search input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    color: #adadad;
}

.search input{
    width: 700px;
}

/* Daftar Aplikasi */
.aplikasi{
    background-image: url();
    margin-top: 10%;
}

.aplikasi .col-lg-3,
.aplikasi .col-md-6{
    margin-bottom: 9%;
}

.aplikasi .box{
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(26, 26, 26, 0.062);
    transition: 0.2s;
}

.aplikasi .box:hover{
    height: 179px;
    background-color: var(--dark-blue);
    box-shadow: 0px 4px 8px rgba(42, 131, 198, 0.32);
}

/* icon */
.box .icon-aplikasi{
    filter: drop-shadow(0px 2px 8px rgba(26, 26, 26, 0.082));
}

.box:hover .icon-aplikasi{
    filter: drop-shadow(0px 2px 8px rgba(42, 130, 198, 0.178));
}

.box .icon-aplikasi .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 100px;
    height: 110px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.box .icon-aplikasi .icon img{
    justify-content: center;
    max-width: 60px;
    max-height: 60px;
}

.box .box-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box .box-content .details{
    padding: 80px 12px 16px;
    width: 100%;
    transition: 0s;
    transform: translateY(55px);
}

.box:hover .box-content .details{
    transform: translateY(0px);
    color: #fff;
}

.box .box-content .details h5{
    font-size: 16px;
    margin-bottom: 12px;
}

.box .box-content .details p{
    
}

/* footer */
footer{
    color: var(--dark-blue);
}